@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face
{
    font-family: 'Test Financier Display Bold';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/TestFinancierDisplay-Bold.otf');
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}
main {
    max-width: 1140px;
    width: 90vw;
}