.stat-bar {
    height: 25px;
    width: 500px;
    background-color: $grey;
    transition: 0.6s all ease-in-out;
    .stat-value {
        background-color: $green;
        height: 100%;
        min-width: 1px;
        transition: 0.6s all ease-in-out;
    }
}